<section class="container">
  <mat-card>
    <mat-card-title class="login">
      <h1>Jednorożec</h1>
    </mat-card-title>
    <mat-card-content class="login__form">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" [formControl]="emailControl" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input type="password" [formControl]="passwordControl" matInput />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</section>
