.container {
  padding: 4rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  max-height: 60vh;
}

.mat-card {
  padding: 4rem 2rem;
  height: 100%;
  font-size: 1.5rem;

  &:nth-of-type(1) {
    background-color: rgba(119, 236, 231, 0.842);
  }

  &:nth-of-type(2) {
    background-color: rgb(173, 101, 221);
  }

  form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    &.btn-primary {
      padding: 1rem 2rem;
    }
  }

  mat-form-field {
    width: 100%;
    font-size: 1.1rem;
  }

  mat-card-header {
    font-size: 2rem;
    font-weight: 700;
  }

  table {
    width: 100%;
    background: rgba(241, 229, 248, 0.842);
  }
  .mat-column-email {
    font-weight: bold;
  }
}
