<div class="container">
  <mat-card>
    <form [formGroup]="formAddNewBox">
      <mat-form-field appearance="fill">
        <mat-label>Dodaj nowe opakowanie</mat-label>
        <input formControlName="boxName" type="text" id="size" matInput />
      </mat-form-field>
      <button mat-button color="primary" (click)="addNewBox()">Utwórz</button>
    </form>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <h1>Lista aktywnych opakowań</h1>
    </mat-card-header>
    <mat-card-content *ngIf="boxes$ | async as boxes">
      <div *ngFor="let box of boxes">
        <p>{{ box.name }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
