<section class="flavours-list" *ngIf="loggedUser$ | async as loggedUser">
  <div class="flavours-list__favorite">
    <mat-card *ngFor="let favFlavour of favFlavours$ | async as favFlavours">
      <mat-card-title>{{
        favFlavour.flavour | uppercaseFirstLetter
      }}</mat-card-title>
      <mat-card-actions>
        <button
          mat-raised-button
          color="warn"
          (click)="removeUserFavFlavour(loggedUser, favFlavour)"
        >
          Usuń
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="flavours-list__all">
    <mat-card *ngFor="let flavour of allFlavours$ | async">
      <mat-card-title>{{
        flavour.flavour | uppercaseFirstLetter
      }}</mat-card-title>
      <mat-card-actions>
        <button
          (click)="addFlavourToFavourites(loggedUser, flavour)"
          mat-raised-button
          color="primary"
          type="button"
        >
          Dodaj do ulubionych
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
