<div class="container">
  <mat-card>
    <form [formGroup]="formAddNewFlavour">
      <mat-form-field appearance="fill">
        <mat-label>Dodaj nowy smak</mat-label>
        <input formControlName="flavour" type="text" id="flavour" matInput />
      </mat-form-field>
      <button mat-button color="primary" (click)="addNewFlavour()">
        Utwórz
      </button>
    </form>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <h1>Lista aktywnych smaków lodów</h1>
    </mat-card-header>
    <mat-card-content *ngIf="iceCreamFlavours$ | async as iceCreamFlavours">
      <div *ngFor="let iceCreamFlavour of iceCreamFlavours">
        <p>{{ iceCreamFlavour.flavour }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
