<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="navbar__logo"><a [routerLink]="'/'">Lody Jednorożec</a></div>
    <div class="navbar__links">
      <a [routerLink]="'customer-panel'">Panel klienta</a>
      <a [routerLink]="'orders'">Zamówienia</a>
      <a [routerLink]="'ice-cream-flavours'">Smaki lodów</a>
      <a [routerLink]="'boxes'">Opakowania</a>
      <a [routerLink]="'addCustomer'">Klienci</a>
      <button mat-button (click)="logout()">Wyloguj</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
