<section *ngIf="orders$ | async as orders" class="container">
  <mat-card>
    <mat-card-title>
      <h1>Lista dzisiejszych zamówień</h1>
    </mat-card-title>
    <mat-card-content class="card--order__container">
      <mat-card class="card--order__item" *ngFor="let order of orders">
        <mat-card-title>
          <h3>
            Klient: <span>{{ order.customerEmail }}</span>
          </h3>
        </mat-card-title>
        <mat-card-content *ngFor="let orderDetailsItem of order.orderDetails">
          <p class="item__title">
            {{ orderDetailsItem.flavour | uppercaseFirstLetter }}
          </p>
          <p class="item__quantity">
            {{ orderDetailsItem.quantity }} x
            <span>{{ orderDetailsItem.unit }} ml</span>
          </p>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <h1>Podsumowanie</h1>
    </mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="summedOrders" class="mat-elevation-z8">
        <ng-container matColumnDef="flavour">
          <th mat-header-cell *matHeaderCellDef>Smak loda</th>
          <td mat-cell *matCellDef="let element">
            {{ element[0] | uppercaseFirstLetter }}
          </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Suma</th>
          <td mat-cell *matCellDef="let element">{{ element[1] }} ml</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
    <mat-card-actions
      ><button
        (click)="sum(orders)"
        type="button"
        mat-raised-button
        color="primary"
      >
        Sumuj
      </button>
    </mat-card-actions>
  </mat-card>
</section>
