<section class="container">
  <mat-card>
    <mat-card-title>
      <h1>Dodaj nowego klienta</h1>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="formAddUser" name="formAddUser" (ngSubmit)="signUp()">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" type="email" id="email" matInput />
          <p class="alert" *ngIf="email.invalid && email.touched">
            Niepoprawny format emaila.
          </p>
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            type="password"
            id="password"
            matInput
          />
          <p class="alert" *ngIf="password.invalid && password.touched">
            Hasło powinno składać się z conajmniej 6 znaków
          </p>
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Rola</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of rolesSelect" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-actions>
          <button
            type="submit"
            class="btn btn-primary"
            mat-raised-button
            color="accent"
            [disabled]="formAddUser.invalid"
          >
            Utwórz
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="customers$ | async as customers">
    <mat-card-title>
      <h1>Lista klientów</h1>
    </mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="customers" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>UID</th>
          <td mat-cell *matCellDef="let element">{{ element.uid }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Rola</th>
          <td mat-cell *matCellDef="let element">
            {{ element.role | uppercaseFirstLetter }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</section>
